html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	overflow: hidden;
	background-color: rgb(54, 54, 54);
}

canvas {
	position: absolute;
	display: block;
	z-index: 3;
}

.fps-counter {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 4;
  }